/* html5reset.css - 01/11/2011 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #fff;
    color: #444;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000; 
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration:  line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;   
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

    text-align: justify !important; } }
/* Typography resets */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

*/




/*--- responsivegridsysyem html5reset.css---*/

@font-face{ 
      font-style:normal;
      font-family: 'Source Code Pro','Big Caslon','FontAwesome' sans-serif;
      src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
      src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'),
      url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), 
      url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), 
      url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg')
    }
    *{
      margin:0;
      padding:0;
    }

    body{
      font-size: 100%;
      overflow-x: hidden;
    }

    div#container{
     width: 100%;

   }
/*-------//navigation//--------------*/
     /*  //NAV// */
 nav#main_nav{
  height:60px;
  padding: 3px;
  position: fixed;
  width:100%;
  z-index:9999;
  opacity:0.99;
  background: #fefefe;
    }


 nav#main_nav ul#nav_list{
      display: -webkit-flex;
      display:-moz-inline-box;
        
    }

    nav#main_nav ul#nav_list li
 {  
display: block;
    } 


 nav#main_nav ul li.title{
      float: left!important;
      font-size:1.3em;
      letter-spacing:0.07em;   
      position: relative;
      display: block;
 
    }



 nav#main_nav ul li.title img{
     margin-left: 2em;
     padding-right: 8px;
     vertical-align: middle;
    }


 nav#main_nav ul#nav_list_link{
      margin-right:33px;
      float: right!important;
      position: relative;
      display:moz-inline-flex;
      display: -webkit-flex;
      display:-moz-inline-box;
    }

    nav#main_nav ul li.link{
      margin-right:20px;
      

    }

.link div.style_select{


}

    nav#main_nav ul#nav_list_link li.link a{
     
      color:black;
      text-align:right;
      font-family:"work sans",Sans-Serif;
      letter-spacing:0.3em;
      text-decoration:none!important;

    }

    nav#main_nav ul#nav_list li.link a#title{font-family:"Times New Roman";
    font-weight:bold; color:black; float:center;transition:color 0.5s}
    
    nav#main_nav ul#nav_list li.link a.navWork{ font-size: 0.9em;color:black;
       transition:color 0.5s;}
    nav#main_nav ul#nav_list li.link a.navCv { font-size: 0.9em;color: black; 
     transition:color 0.5s;}
    nav#main_nav ul#nav_list li.link a.navBlog { font-size: 0.9em;color: black;
      transition:color 0.5s; }
    

    nav#main_nav ul#nav_list li.link a:hover{
      color: #d0c0ac;
      text-decoration: underline;
      transition:color 0.4s; 
    }


    /*--------- nav done ------*/


   /*landing page : home.php*/
   section#main{
     width:28%;
     height:99%;
     padding-top:60px;
     position:fixed;
     padding-left:1em;
     background:#fafafa;
     z-index:-99999;
   }



   article#about{ 
    margin-top: 19px;
    padding:1.3em;
    font-size: 0.87em;
    width:86%;
    float:left;
    overflow:hidden;
    letter-spacing:0.08em;
    text-align:left;
    color:#223;
    background:#fff;
      }



   div #h1{
      padding-top:20px;
      font-size: 1.3em;
      font-family: 'National', 'Helvtica', sans-Serif;
      letter-spacing:0.1em;

       }


  #about h2{

      padding-top: 20px;
      font-family:"Grotesk",Sans-Serif;   
      font-size:1.6em;
      color:#1C1E1E;
      letter-spacing:0.3em;
      padding-bottom: 10px;
  }

  div p{
  
    font-family:  "arnhem",serif;

  }


  .highlight{
   font-weight: bolder;
  }

  .highlight a:hover{
    font-weight: bolder;
    color:white!important;
    transition: color 0.03s;
    color:#55acee!important;
  }



/*//working_list section//*/

      section#section_work{
      width:60%;
      float:right;
      display:inline-block;
      padding-top:2em;
      position:inherit;
      z-index:9999;
    }


    #section_work a:hover{
     transition: background,0.3s;
     color:green;
     background-color:hsla(255, 100%, 86%, 0.2)!important;
     opacity:0.6;
   }


   section#section_work ul#work_list{
    position:relative;
    display:inline-flex;
    overflow: scroll;
    list-style: none;
    overflow: hidden;
    display: -moz-inline-flex;
    -webkit-flex-flow: wrap row;
    flex-flow: wrap row;

  }

  section#section_work ul#work_list li.each_work{
  
  }

  .each_work_1{
    width: 30%; 
    margin:3em;
    transition: ALL 0.5s;
  }
  .each_work_2 {
    width: 30%; 
    margin:3em;
    transition: ALL 0.5s;
  }
  .each_work_3 {
    width: 30%; 
    margin:3em;
    transition: ALL 0.5s;
  }
   .each_work_4 {
    width: 30%; 
    margin:3em;
    transition: ALL 0.5s;
  }
 .each_work_5 {
    width: 30%; 
    margin:3em;
    transition: ALL 0.5s;
  }
  .each_work_6 {
    width: 30%; 
    margin:3em;
    transition: ALL 0.5s;
  }
 .each_work_7 {
    width: 30%; 
    margin:3em;
    transition: ALL 0.5s;
  } 
  .each_work_8 {
    width: 30%; 
    margin:3em;
    transition: ALL 0.5s;
  }

  a.work_link{
    display: inherit;
    position: static;
    text-decoration:none!important;
  }


  section#section_work ul#work_list li img{
    width: 100%;
    height: 100%; 
  }

  section#section_work ul#work_list li:hover img{
    -webkit-filter: blur(0.1px);   
    -moz-filter: blur(0.1px);
    filter: blur(0.1px);
  }


  div.work_detail{
    text-align: center;
  }


  div.work_detail p.worktitle{

    position: inherit;
  }

  div.work_detail p.worktitle span{
                  font-family: "Garamond Premier Pro", sans-serif;
                  color: black;
                  text-align: center!important;
                  font-size:1em;
                  font-weight:bold;
                  letter-spacing:0.06em;
                  padding:1em;
                }

                div.work_detail p.worksubtitle{
                  font-size:0.7em;
                  font-family: "Helvtica Neue",sans-serif;
                  letter-spacing:0.05em;
                  font-weight: lighter;
                  color: black;
                  text-align: right!important;
                  display:inherit;
                }


  

 /*  //_ PAGE// */

div#project_wrapper{
         margin:0;
         padding:0;
         font-family: "Garamond Premier Pro",sans-serif;
    
         position: relative;
         background: #fdfdfd;
      }

   section#work_content{
        float:left!important;
        position:absolute;
        width:60%;
  
        }
     
    article#work_details{
      float:left!important;
      height:100%;
      width:65%;
      padding:3px 75px;
      color:#444;
      position:absolute;
    }

    article#work_details h2{
      padding-top:65px;
      font-family:"work sans";
      font-size: 1.4em;
    }

    article#work_details h3{
      color: #4D4D4F;
      font-size: 0.7em;
      font-family: "Work Sans ExtraLight", Sans-serif;
        
    }

     article#work_details h4{
      font-size: 0.9em;
      font-family: "Garamond Premier Pro", Serif;
      font-weight: lighter;
      margin:1px;
     }
    

    div #work_articles{
      letter-spacing:0.05em;
      text-align:left;
      position: relative;
      padding:10px;
      width:auto;
      height:auto;
      font-size: 0.9em;
      overflow:scroll;
      overflow-x:hidden;
    /*  background: #fff */;}
       ::-webkit-scrollbar { 
      display: none; 
         }
        
 
  div#acknow {
    display: block;
    width: 40%;
    white-space: nowrap;
    height:270px;
    font-size: 0.88em;  
    color:#444;
    z-index: 999!important;
  
  }



/*-------- article features &links --------*/

div#project_features{
  position:relative;!important;
  display: inline-table;
}

/*--------links --------*/

  div#links{

  }
  
  div#links a:link{
   float: left!important;
   font-family:"work sans", sans-serif;
   font-color:black!important;
   font-size:1.2em;
   text-decoration:none!imporatnt;
  }

  div#links  a:hover{ transition:ALL 0.2s;
    color:black;
    opacity: 0.9;
    background-color:#cefcbe;
  }

  div#links  a:after{
   content:'';
   font-weight: bolder;
   transition:ALL 0.3s;
  }
  div#links a:hover:after{
    margin-left: 3px;
  }

 div#toolink{
      float: left!important;
      width: 40%;
      display: inline-table;

      }

ul #toolinks
      {

}

#toolinks li
{   
  padding: 1px;
  list-style: none;
  background:#fff;
}

#toolinks li a
{ display: block;
  padding: 2px 10px;
  font-family: "work sans", Helvetica, sans-serif;
  font-size: 0.83em;
  color: #000;
  text-align:left;
  border: 1px solid;
  text-decoration: none}

#toolinks li a:hover
{ background: #fff7fc}

#toolinks  div
{ position: inline-flex;
  visibility: hidden;
  margin: 0;
  padding: 0;
}

  #toolinks div a
  { position: relative;
    display: block;
    padding: 3px 8px;
    width: auto;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    background: #fdfdfd;
    color: black;}
  }

  #toolinks  div a:hover
  { background: #e9edff;
    color: black}


/*Project feature toolinks done*/

/*---------section of work imgs & videos------*/
  section#Project_Content{
     float:right;
     width: 50%!important;

     position:absolute;
     display: inline-block;
/*     box-shadow: 1px 5px 30px #f9deFd;*/
  }

  article#Content{

    background: #fdfdfd;
    height:500px;
    margin-top:70px;
    padding-top: 60px;
    padding:3px; 
    padding-bottom:4em;
    overflow:scroll;
  }

  article#Content img{

    width: 80%!important;
    height:80%!important;
 /*   border: 1px solid;*/
}



  article#Content
  .video_container{
    width:auto;
    margin-bottom: 2em;
    margin-top: 5px;
/*    border:1px solid black;*/
    position: relative;
   /* box-shadow:3px 5px 30px #f9defe;*/
  }


  footer#main_footer  {
   width:100%;
   padding-bottom: 4px;
   padding-top:6px;
   position:inherit;
   display: fixed;
   z-index: 99999;
   background-color:#FCF9F7;
  }



  footer#main_footer p{
    padding-left:6em;
    padding-right:1.6em;
    font-family:"Times New Roman" Sans-Serif;
    text-align: right; 
    letter-spacing:0.09em;
    font-size: 0.8em;
    color:#4c4c4c;
  }



  /*-----media quiery-----*/
  @media (max-width: 840px) and (min-width: 641px)  {


    /* section main*/
    section#main{
    float:left;
    width: 45%;
    background: #fdfdfd;
    }
    
    article#about {
/*    padding:2em;*/
    width:80%;
    padding-top:8px;
    font-size:0.88em;
    letter-spacing:0.04em;
    text-align: left;
    background: #fff;
     
   }


    #about h1{
      font-size: 1.2em;
      letter-spacing:0.01em;
      color:black;
     }

/*NAV*/
nav#main_nav.nav_list{   

   text-decoration: none!important;
}
 nav#main_nav ul li#title{
      padding-left:3.8em;
      width: 50%;
      font-size:1.6em;
      font-weight: bolder;
      letter-spacing:0.06em;
      font-family: 'national',sans-serif;

    }
 


nav#main_nav ul#nav_list{
      display: -webkit-flex;
      display:-moz-inline-box;
    }


    nav#main_nav ul#nav_list li{  
      width:17%;
      margin:1px;
      background: transparent;
      padding-left:100px;
      position: inherit;
      display: fixed;

    } 


    nav#main_nav ul li.link{
     /* padding-left:300px;*/
      padding-top:0.5em;
      font-size:0.9em;
      font-family:"work sans",Sans-Serif;
      letter-spacing:0.03em;
      text-align:center;
      display:moz-inline-flex;
     

    }


    nav#main_nav ul#nav_list li.link a{

      text-decoration: none;
      color:black;
    }

    nav#main_nav ul#nav_list li.link a#title{font-family:"Times New Roman";
    font-weight:bold; color:black; float:center;transition:color 0.5s}
    
    nav#main_nav ul#nav_list li.link a.navWork{ font-size: 0.9em;color:black: 
      transition:color 0.3s;}
    nav#main_nav ul#nav_list li.link a.navCv { font-size: 0.9em;color: black; 
      transition:color 0.3s;}
    nav#main_nav ul#nav_list li.link a.navBlog { font-size: 0.9em;color: black;
     transition:color 0.3s; }

    nav#main_nav ul#nav_list li.link a.navWork:hover{
      text-decoration: underline; 
      transition:color 0.4s; 
    }
    nav#main_nav ul#nav_list li.link a.navCv:hover{ 
      text-decoration: underline;
      transition:color 0.3s;}
    nav#main_nav ul#nav_list li.link a.navBlog:hover{
      text-decoration: underline; 
      transition:color 0.3s; 
    }
    nav#main_nav ul#nav_list li.link a:hover{
      color: #d0c0ac!important; 
      transition:color 0.4s; 
    }



   /* work list */
      section#section_work{
      width:45%;
      float:right;
      display:inline-block;
      padding-top:2em;
      position:inherit;
      z-index:9999;
    }


    #section_work a:hover{
     transition: background,0.3s;
     color:green;
     background-color:hsla(255, 100%, 86%, 0.2)!important;
     opacity:0.6;
   }


   section#section_work ul#work_list{
    position:relative;
    display:inline-flex;
    overflow: scroll;
    list-style: none;
    overflow: hidden;
    display: -moz-inline-flex;
    -webkit-flex-flow: wrap row;
    flex-flow: wrap row;

  }

  section#section_work ul#work_list li.each_work{
  
  }

  .each_work_1{
    width: 50%; 
    margin:3em;
    transition: ALL 0.5s;
  }
  .each_work_2 {
    width: 50%; 
    margin:3em;
    transition: ALL 0.5s;
  }
  .each_work_3 {
    width: 50%; 
    margin:3em;
    transition: ALL 0.5s;
  }
   .each_work_4 {
    width: 50%; 
    margin:3em;
    transition: ALL 0.5s;
  }
 .each_work_5 {
    width: 50%; 
    margin:3em;
    transition: ALL 0.5s;
  }
  .each_work_6 {
    width: 50%; 
    margin:3em;
    transition: ALL 0.5s;
  }
 .each_work_7 {
    width: 50%; 
    margin:3em;
    transition: ALL 0.5s;
  } 
  .each_work_8 {
    width: 50%; 
    margin:3em;
    transition: ALL 0.5s;
  }

  a.work_link{
    display: inherit;
    position: static;
    text-decoration:none!important;
  }


  section#section_work ul#work_list li img{
    width: 100%;
    height: 100%; 
  }

  section#section_work ul#work_list li:hover img{
    -webkit-filter: blur(0.1px);   
    -moz-filter: blur(0.1px);
    filter: blur(0.1px);
  }


  div.work_detail{
    text-align: center;
  }


  div.work_detail p.worktitle{

    position: inherit;
  }

  div.work_detail p.worktitle span{
                  font-family: "Garamond Premier Pro", sans-serif;
                  color: black;
                  text-align: center!important;
                  font-size:1em;
                  font-weight:bold;
                  letter-spacing:0.06em;
                  padding:1em;
                }

                div.work_detail p.worksubtitle{
                  font-size:0.7em;
                  font-family: "Helvtica Neue",sans-serif;
                  letter-spacing:0.05em;
                  font-weight: lighter;
                  color: black;
                  text-align: right!important;
                  display:inherit;
                }


  }
  
   /* work list done */


  

   /* project page */

   section#work_content{

        width:55%;
  
        }
     

    article#work_details h2{
      padding-top:65px;
      font-family:"Work Sans",Sans-serif;
      font-size: 1em;
    }

    article#work_details h3{
      font-size: 0.7em;
      font-family: "Work Sans ExtraLight", Sans-serif;
    }

     article#work_details h4{
      font-size: 0.8em;

     }
    

    div #work_articles{
      letter-spacing:0.02em;
      padding:3px;
      height:480px;
      font-size: 0.87em;
         }
        
 
  div#acknow {
    float:left!important;
    width: 88%;
    height:80%;
    white-space: nowrap;
    font-size: 1em;  
    padding: 0.2em;
    margin:0.3em;
  }



/*-------- article features &links --------*/

/*--------links --------*/

  div#links{

  }
  
  div#links a:link{
   padding: 0.1em;
   font-family:"work sans", sans-serif;
   font-size:1em;
   text-decoration:none!imporatnt;
  }

  div#links  a:hover{ transition:ALL 0.3ss;
    background-color:#cedfbe;
  }



#toolinks li
{   
   margin:0em;
}





  /*---------section of work imgs & videos------*/
  section#Project_Content{
/*     margin:2em;*/
     width:50%;
    position:inherit;

  }


 article#Content{
    width:auto;
    background-color:#fdfdfd;
    overflow:scroll;

  }


  article#Content img{
    width: 40%;
    height:40%;

}





  footer#main_footer  {
   width:100%;
   padding-bottom: 4px;
   padding-top:6px;
   position:inherit;
   display: fixed;
   z-index: 99999;
   background-color:#FCF9F7;
  }



  footer#main_footer p{
    padding-left:6em;
    padding-right:1.6em;
    font-family:"Times New Roman" Sans-Serif;
    text-align: right; 
    letter-spacing:0.09em;
    font-size: 0.8em;
    color:#4c4c4c;
  }



/*project page done*/







@media (max-width: 640px) and (min-width: 286px) {

section#main{
   padding-top:80px;
   width: 50%;
   position:fixed;
   background:#fcfcfc;
   z-index:-99999;
   padding-left:0em;/*
    background-color:hsla(342, 100%, 86%, 0.2)*/
   }

  

 article#about{
    width: 100%;
    letter-spacing:0.003em;
    text-align:left;
    text-indent: justify;
    font-size:0.8em;
    background: #fff;
    padding-left:1.6em;
    padding-top: 1.5em;
   }

     /*nav*/
   nav#main_nav{
    position: fixed;
      height: 100px;
      background:#efefff; 
      z-index: 999999999;
 
   }
 
   nav#main_nav ul#nav_list{

   }

   nav#main_nav ul li#title{
      font-family:"national",Sans-Serif; 
      font-size:3em;
      padding-top: 2px;
      padding-left:10px;
      letter-spacing: 0.001em;
      margin-right:30px;

    }

    nav#main_nav ul li.link{
      width: 100%;
      display:inline-flex;
      text-align: justify;
      font-variant: small-caps;
    }


    nav#main_nav ul#nav_list li.link a.navWork:hover{
      text-decoration: underline; 
      transition:color 0.4s; 
    }
    nav#main_nav ul#nav_list li.link a.navCv:hover{ 
      text-decoration: underline;
      transition:color 0.3s;}
    nav#main_nav ul#nav_list li.link a.navBlog:hover{
      text-decoration: underline; 
      transition:color 0.3s; 
    }
    nav#main_nav ul#nav_list li.link a:hover{
      color: #d0c0ac!important; 
      transition:color 0.4s; 
    }


/*work_list*/

  section#section_work{
      width:45%;
      float:right;
      display:inline-block;
      padding-top:5em;
      position:inherit;
      background-color:hsla(312, 100%, 86%, 0.1)
    }


    #section_work a:hover{
     transition: background,0.3s;
     opacity:0.7;  
  x
   }


   section#section_work ul#work_list{
    position:relative;
    display:inline-flex;
    overflow: scroll;
    list-style: none;
    overflow: hidden;
    display: -moz-inline-flex;
    -webkit-flex-flow: wrap row;
    flex-flow: wrap row;
  }






  section#section_work ul#work_list li .each_work{
  /*  margin:0.1em;*/
    transition: ALL 0.5s;
  }


  .each_work_1{
    width: 30%; 
  }
  .each_work_2 {
    width: 30%; 
  }
  .each_work_3 {
    width: 30%; 
  }
   .each_work_4 {
    width: 30%; 
  }
  .each_work_5 {
    width: 30%; 
  }
  .each_work_6 {
    width: 30%; 
  }
 .each_work_7 {
    width: 30%; 
  } 
  .each_work_8 {
    width: 30%; 
  }


  a.work_link{
    display: inherit;
    position: static;
    text-decoration:none!important;
  }


  section#section_work ul#work_list li img{
   display: none;
  }

  section#section_work ul#work_list li:hover img{
    -webkit-filter: blur(0.1px);   
    -moz-filter: blur(0.1px);
    filter: blur(0.1px);
  }


  div.work_detail{
    text-align: left;
  }


  div.work_detail p.worktitle{
    position: inherit;
  }

  div.work_detail p.worktitle span{
                  font-family: "Garamond Premier Pro", sans-serif;
                  color: black;
                  text-align: center!important;
                  font-size:1.3em;
                  font-weight:bold;
                  letter-spacing:0.06em;
                  padding:0.2em;
                }

                div.work_detail p.worksubtitle{
                  font-size:0.6em;
                  font-family: "Helvtica Neue",sans-serif;
                  font-weight: lighter;
                  color: black;
                  text-align: right!important;
                  display:inherit;
                }







  /*PROJECT PAGE*/

  div#project_wrapper{ 
    float:initial;
    position:relative;
    display:block;
    padding:45px 5px;
  }
 section#work_content{
    position:relative;

 }
     
    article#work_details{
      position: absolute;
      display: block;
      width: 141%;
      padding-left:8px;


    }

    
    article#work_details h2{

      font-family:"Work Sans",Sans-serif;
      font-size: 1.2em;
    }

    article#work_details h3{
      font-size: 0.7em;
      font-family: "Work Sans ExtraLight", Sans-serif;
    }

     article#work_details h4{

      font-size: 0.8em;

     }
 


section#work_content{

        z-index: 9999;


 
        }
     

    div #work_articles{
      position: relative;
        height:200px;
        width:120%;
        text-align: left;
        font-size: 0.8em;
         }
        
 
  div#acknow {
    position: relative;
    width:45%;
    overflow: scroll;
    text-align: left;
    white-space: nowrap;
    font-size: 0.88em;  
    text-align: justify;
    padding: 0.8em;
   letter-spacing:0.02em;

  }











  /*-------- features &links --------*/
    article#project_features{
    padding:1%;


   }
  

  div#links{
    margin-right:20px;
    font-family:"Alte Haas Grotesk" Helvetica, sans-serif;
    font-size:1em;
  }


  div#links  a:hover{ transition:ALL 0.5s;
    color:white;
    background-color:#dcb78e;;
  }

  div#links  a:after{
   content:'';
   font-weight: bolder;
   transition:ALL 0.3s;
  }
  div#links a:hover:after{
    margin-left: 10px;
  }



   .toolinks{
    font-family: "Garamond Premier Pro", Helvetica, sans-serif;

  }

  div.toolinks h1{ 
    color: black;
    font-size: 0.6em;
  }

  div.toolinks h4{
   color:black;
   display: inherit;
   font-size:0.6em;
  }

  div.toolinks h4:hover{
   font-weight: bolder;
   color:white!important;
   transition: background-color,color 0.5s;
   background-color:#ee403d;     
  }

  /*---------section of work imgs & videos------*/



  section#Project_Content{
     float:initial;
     padding-top: 330px;
     width: 100%!important;
     position:relative;
     display: block;
     box-shadow: 1px 5px 30px #f9deFd;
  }

  article#Content{

    background: #fdfdfd;
    height:auto;
    overflow:scroll;
  }

  article#Content img{
    position:relative;
    display: block;
    width: 75%!important;
    height:75%!important;
}



  article#Content
  .video_container{
    width:auto;/*
    margin-bottom: 1em;*/
    margin-top: 25px;
    border:1px solid black;
    position: relative;
    box-shadow:3px 5px 30px #f9defe;
  }





/*FOOTER*/




  /*---media quiery done-----*/


  /*--------///footer///----------*/



  footer#main_footer  {
   width:100%;

   position:inherit;
   z-index: 99999;
   background-color:#Fdfdfd;
  }



  footer#main_footer p{
    padding-left:6em;
    padding-right:1.6em;
    font-family:"Times New Roman" Sans-Serif;
    text-align: right; 
    letter-spacing:0.09em;
    font-size: 0.8em;
    color:#4c4c4c;
  }
c
}





