  @font-face{ font-family:
   'Source Code Pro', 'Karla', 'lato', 'FontAwesome' sans-serif;
    src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'),
     url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), 
     url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), 
     url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg')
  }

  *{
    padding: 0;
    margin: 0;
  }
  *
  *:before,
  *:after {
    box-sizing: inherit;
  }


  body{

  background: linear-gradient(to bottom right, #D6E8F2, white);
  background: -moz-linear-gradient:(to bottom right, #D6E8F2, #FFCCCC);
  font-size: 100%;
  width:100%;
  }

  div#container{
    width: 100%;/*
    background:#f2f2eb;*/
   background: linear-gradient( rgba(255, 204, 153, 0.25),rgba(153,204,255, 0.25));
  }


/*landing page : home.php*/
    section#main{
      border-style: solid;
      border-width: 1.4px;
      opacity: 0.8;
      margin: 90px 200px;
      padding: 20px;
      background-color: white;
      box-shadow: 1px 5px 50px #99ccff;
      display: inline-block;
    }
    
 section#main img{
        width: 25%;
      }

     section#about{
      margin:20px;
      overflow:hidden;
      width:60%;
     }

    section#about p{
      text-align: left;
      font-size: 1em;
      letter-spacing:0.005em;
      font-family: "Karla" Helvetica, sans-serif;
      
      text-align: left;
    }

    .highlight{
      font-weight: bolder;
    }
    .highlight a:visited{
      font-weight: bolder;
      font-color:#00eb98;
    }

  /*-------//navigation//--------------*/
  /*  //NAV// */
  nav#main_nav{
    width: 100%;
    height: 60px;
    box-shadow: 1px 5px 6px #f1f1f1;
  }

    nav#main_nav ul#nav_list{
      display: inherit;
      display: -webkit-box;
      display: -webkit-flex;
      flex-flow: row wrap;
      webkit-flex-direction: row;
    }
      .nav_list{
        position: fixed;
        z-index: 99999;
      }

      nav#main_nav ul#nav_list li{
        height: 60px;
        width: 15%;
      }

      nav#main_nav ul li.link{
            padding: 10px;
            font-size: 1em;
            font-family: "Montserrat",sans-serif;
            text-align:center;
        }

          nav#main_nav ul#nav_list li.link a{
            text-decoration: none;
            color:black;
          }

          nav#main_nav ul#nav_list a.navAbout{ color: white; }
          nav#main_nav ul#nav_list a.navBlog{ color: white; }
          nav#main_nav ul#nav_list a.navWork{ color: white; }
          nav#main_nav ul#nav_list li.link a:hover{
          color: white!important;
          }

/*--------- nav done ------*/



/*----media query---*/


/*  //PROJECT PAGE// */
 div#project_wrapper{
    position: inherit;
    font-family: "Merriweather" ,Helvetica, sans-serif;
    -webkit-box-shadow: 2px -21px 38px -1px rgba(0,0,0,0.45);
    -moz-box-shadow: 2px -21px 38px -1px rgba(0,0,0,0.45);
    box-shadow: 2px -21px 38px -1px rgba(0,0,0,0.45);
  }

    section#work_content{
      padding: 100px 10px;
      display: inline-block;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      background: white;

    }

      article#work_details{
        color: black;
        width: 70%;
        padding-left: 2%;
        margin-left:10%;
    /*  padding-right:0%;*/
        text-align:justify;

      }
        article#work_details h2{
          font-size: 2vw;
       }
        article#work_details h3{
          color:#00b6fb;
          font-size: 0.9vw;
        }
        
        article#work_details p1{
          font-size: 1vw;
        }

/*------------------toolinks--------------*/
        
        article#toolinks{
          width:20%;
          padding:80px 10px;
          margin-left:20px;
          font-family: "Karla", Helvetica, sans-serif;
          padding-right:3%;

        }
      
        div.toolinks h1{ 
          color: black;
          background-color: #e8e6fd;
          font-size: 1.3vw;
        }
           div.toolinks h4{
            color:black;
            display: inherit;
            text-align: left;
            font-size:0.8vw;
        }


/*-------- features &links --------*/
        article#project_features{
         width: 50% ;  
         padding:145px 15px;
        }
      
       div#features{ 
        font-family:"karla",Helvetica, sans-serif;
        font-size: 0.8vw;      
        color:#00b6fb;
        text-decoration:none!important;
       }

       div#links{
        padding:3%;
        font-family: "source code pro", Helvetica, sans-serif;
      }

      div#links a:link{
        color:#000000;
        font-size:1vw;
        text-decoration: none!important;
      }




      h1.link a:visited{ color:00eb98;}
        h1.link a:after{
             margin-left: 10px;
             content:' \e600';
             transition:ALL 0.5s;
        }
        h1.link a:hover:after{
          margin-left: 20px;
        }*/

  article#project_link{
    
    font-family: "source code pro", Helvetica, sans-serif;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
   
    color: #4a3df4;
    width: 100%;
  }
    article#project_link p{
      padding: 10px 0;
    }


/*---------section of work imgs & videos------*/

section#work_img{
        width:100%;
        background-color: white;
}
      article#work_imgs{
        width: 60%;
        padding-top:5%;
        padding-left:19%;

      }
        article#work_imgs img{
          margin-top: 3%;
          width: 80%;
          height:30%;
          display: inline-block;
          margin-bottom:5%;
        }

        article#work_imgs .video_container{
          max-width: 100%;
        /*  padding-top: 30px;*/
          margin-bottom: 10px;
          position: relative;
          padding-bottom: 57%;
          height: 10;
          overflow: hidden;
          box-shadow: 2px 21px 21px 1px rgba(0,0,0,0.45);
        }
          .video_container iframe{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          }

  

 /*-----------//working list section---------------*/
  section#section_work{
    width: 100%;
    background: white;
    padding-top:2%;
    padding-left:2.5%;
    padding-bottom:4%;
    transition: width 2s;

  }
   #section_work a:hover{
       background:linear-gradient( rgba(153,204,255, 0.25), rgba(255, 204, 153, 0.25));
     
       }

  

    section#section_work ul#work_list{
      width:100%;
      height: auto%;
      list-style: none;
      overflow: hidden;
      display: flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-flex-flow: wrap row;
      flex-flow: wrap row;
    }



      section#section_work ul#work_list li.each_work{
        width: 20%;
        margin-left:5%;
        padding-top:2%;
        overflow: hidden;
      }

    
      a.work_link{
          width: 100%;
          display: inline-block;
          position: relative;
          overflow: hidden;
          text-decoration:none!important;
        }
      section#section_work ul#work_list li img{
            width: 100%;
            height: auto;
            margin-bottom: -4px;
        }

      section#section_work ul#work_list li:hover img{
              -webkit-filter: blur(1px);
              -moz-filter: blur(1px);
              filter: blur(1px);
              background:linear-gradient( rgba(153,204,255, 0.25), rgba(255, 204, 153, 0.25));
              z-index: -1;
            }



      div.work_detail{
            width: 100%;
            height: 100%;
            position:relative;
            z-index: 1000;
            text-align: left;
          }
      
              div.work_detail p.worktitle{
                margin-top: 0px;
                position: relative;
                width: 100%;
              }

                div.work_detail p.worktitle span{
                  font-family: "source code pro","sans-serif";
                  color: black;
                  font-weight: bold;
                  text-align: left;
                  font-size: 1em;
                  text-transform: uppercase;
                  text-decoration: none!important;
                }

              div.work_detail p.worksubtitle{
                margin-top: -12px;
                font-size:0.7em;
                font-family: "Merriweather","sans-serif";
                font-weight: lighter;
                text-decoration: none;
                color: black;
              }

        
 /*--------///footer///----------*/

    footer#main_footer {
      width: 102.6%;
      height:100px;
      margin-top:-1.2%;


    }
      footer#main_footer p{
              text-shadow: 1px 1px 2px #f1f1f1;
              font-family:"Montserrat", Helvetica, sans-serif;
              text-align: left;
              text-transform: uppercase;
              letter-spacing:0.2em;
              font-size: 0.8em;
              color: #aaaaaa;
              padding-left: 34%;
              padding-top:2%;
      }



  