    @font-face{ 
      font-style:normal;
      font-family: 'Source Code Pro','Big Caslon','FontAwesome' sans-serif;
      src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
      src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'),
      url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), 
      url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), 
      url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg')
    }
    *{
      padding: 0;
      margin: 0;
    }
    
    *:before,
    *:after {
      box-sizing: border-box;
    }

    body{
      font-size: 100%;
    }

    div#container{
     width: 100%;
     background: white;

   }
/*-------//navigation//--------------*/
     /*  //NAV// */
 nav#main_nav{
  position: fixed;
  padding:1.2em;
  height: 40px;
  width:100%;
  z-index:999;
  opacity:0.9;
  background:white;

    }

    nav#main_nav ul#nav_list{
      display: -moz-box;
      display: inline-table;
      display: -webkit-box;
      display: -ms-flexbox;    TWEENER - IE 10 
      display: -webkit-flex;
      flex-flow: inherit row;
      -webkit-flex-direction: inherit row;
      list-style: none;
      text-align: left;
    }

    nav#main_nav ul#nav_list {
      width: 60%;
    }
    nav#main_nav ul#nav_list li{  
      flex-flow: row wrap;
      width: 30%;

    } 

    nav#main_nav ul li.link{
      padding-left:3em;
      font-family:"Big Caslon",Sans-Serif;   
      letter-spacing:0.2em;
      font-weight: bolder;
      text-align:right;
     
    }


    nav#main_nav ul#nav_list li.link a{
      text-decoration: none;
      color:black;
    }

    nav#main_nav ul#nav_list li.link a.title{font-family:"Garamond"; font-size:1.4em; 
    font-weight:bold; color:black; float:left;transition:color 0.5s}
    
    nav#main_nav ul#nav_list li.link a.navWork{ font-size: 0.9em;color:#d0c0ac; 
      transition:color 0.5s;}
    nav#main_nav ul#nav_list li.link a.navCv { font-size: 0.9em;color: #d0c0ac; 
      transition:color 0.5s;}
    nav#main_nav ul#nav_list li.link a.navBlog { font-size: 0.9em;color: #ddc0ac;
     transition:color 0.5s; }
    nav#main_nav ul#nav_list li.link a:hover{
      color: #E21B33!important;
      transition:color 0.4s; 

    }

    /*--------- nav done ------*/


   /*landing page : home.php*/
   section#main{
     width:50%;
     margin-top:40px;
     position:fixed;
     padding-left:5em;
     padding-bottom:10em;
   }


   article#about{ 

    font-size: 0.9em;
    width:50%;
    float:left;
    overflow:hidden;
    padding:1.8em;
    line-height:18px;
    letter-spacing:0.05em;
    text-align:left;
    color:gray;
      }

      #about h1{
        font-family: 'Apercu Regular', Serif;            
      }

      #about h2{
        font-family: "Apercu Regular", Serif;
        color:black;
        text-transform: uppercase;
  }

  .highlight{
   font-weight: bolder;
  }

  .highlight a:hover{
  /*  font-weight: bolder;*/
    color:white!important;
    transition: color 0.03s;
    color:#55acee!important;
  }
  
     article#expertise {
      padding-top:2em;
  
     }

    #expertise h3{
      font-size: 1em;
      font-family: 'helvetica', sans-Serif;
      color:black;

     }
#expertise hr{
  border: 2px,dotted, solid;
}
     #expertise p{
      font-size: 1em;
      font-family: 'Garamond Premier Pro', Serif;
      font-weight: lighter;
      color:333333;
     }

    /*-----------//working list section; ---------------*/
    section#section_work{
      width:60%;
      float:right;
      display:inline-block;
      padding-top:5em;
      position:inherit;
      z-index:9999;
    }


    #section_work a:hover{
     transition: background, 0.5s;
     background:#ddd;
     opacity:0.7;
   }


   section#section_work ul#work_list{
    position:relative;
    display:inline-block;
    overflow: scroll;
    list-style: none;
    overflow: hidden;
    display: inline-table;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-flow: wrap row;
    flex-flow: wrap row;

  }

  section#section_work ul#work_list li.each_work{
    width: 33%;
    margin:3em;
    transition: ALL 0.5s;
  }


  a.work_link{
    padding-top:1.2em;
    display: inherit;
    position: static;
    text-decoration:none!important;
  }


  section#section_work ul#work_list li img{
    width: 100%;
    height: 100%;
   
  }

  section#section_work ul#work_list li:hover img{
    -webkit-filter: blur(0.2px);   
    -moz-filter: blur(0.2px);
    filter: blur(0.2px);
  }


  div.work_detail{
    text-align: left;
  }


  div.work_detail p.worktitle{
    position: inherit;
  }

  div.work_detail p.worktitle span{
                  font-family: "Garamond Premier Pro", sans-serif;
                  color: black;
                  text-align: center!important;
                  font-size:1em;
                  font-weight:bold;
                  letter-spacing:0.06em;
                  padding:1em;
                }

                div.work_detail p.worksubtitle{
                  font-size:0.75em;
                  font-family: "Helvtica Neue",sans-serif;
                  letter-spacing:0.05em;
                  font-weight: lighter;
                  color: black;
                  text-align: right!important;
                  display:inherit;
                }


                /*  //PROJECT PAGE// */

                div#project_wrapper{
                  width:100%;
                  position:absolute;
                  font-family:"Apercu Regular", Helvetica, sans-serif;/*"Merriweather"*/
                  -webkit-box-shadow: 2px -21px 38px -1px rgba(0,0,0,0.45);
                  -moz-box-shadow: 2px -21px 38px -1px rgba(0,0,0,0.45);
                  box-shadow: 2px -21px 38px -1px rgba(0,0,0,0.45);
                
                }

                  section#work_content{
                    padding: 80px  60px;
                    background-color:white;
                  }
     
    article#work_details{
      width: 45%;
      margin-left:10%;
      margin-right:5%;
      letter-spacing:0.05em;
      text-align:justify;
      color:#353535;
      background:white;
    }

    article#work_details h2{
      font-family:"Garamond Premier Pro";
      font-size: 1.5vw;
    }

    article#work_details h3{
      color:#00b6fb;
      font-size: 1vw;
      font-family: "Andale Mono", Sans-serif;

    }

    article#work_details p1{
      font-size: 1vw;
    }

    /*-------- features &links --------*/
    article#project_features{
        width: 20% ;  
        padding-right:4%;
   }
   .toolinks{
    margin:10%;
    font-family: "Garamond Premier Pro", Helvetica, sans-serif;
  }

  div.toolinks h1{ 
    color: black;
    background-color: #e8e6fd;
    font-size: 1.2vw;
  }

  div.toolinks h4{
   padding:0.8px;
   color:black;
   display: inherit;
   text-align: left;
   font-size:0.9vw;
  }

  div.toolinks h4:hover{
   font-weight: bolder;
   color:white!important;
   transition: background-color,color 0.5s;
   background-color:#ee403d;     
  }


  div#features{ 
    margin:5%;
    padding:10%;
    font-family:"karla", serif;
    font-size: 1vw;     
    text-decoration:none!important;
    /*border-style:solid;*/
    background:#fcfcfc;
  }


  div#links{
    margin:2%;
    padding:6px;
    font-family:"Alte Haas Grotesk" Helvetica, sans-serif;
  }

  div#links a:link{
   font-color:black!important;
   font-size:1.3vw;
   font-weight: bolder;
   text-decoration:none!imporatnt;
   border:none;
  }

  div#links  a:hover{ transition:ALL 0.5s;
    color:white;
    background-color:#009933;
  }

  div#links  a:after{
   content:'';
   font-weight: bolder;
   transition:ALL 0.3s;
  }
  div#links a:hover:after{
    margin-left: 10px;
  }


  /*---------section of work imgs & videos------*/
  section#Project_Content{
   padding-bottom:15%;
   display: inline-flex;
   *box-shadow: 1px 5px 50px #CFD0D1;
  }

  article#Content{
    width: 70%;
    padding-top:1%;
    padding-left:20%;

  }
  article#Content img{
    margin-top:15px;
    width: 74%;
    height:74%;

  }

  article#Content
  .video_container{
    max-width: 67%;
    padding-bottom: 60%;
    margin-top: 20px;
    position: relative;

  }
  .video_container iframe{
    position: absolute;
    border:8px solid black;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    box-shadow:3px 5px 10px #cccccc;
  }

  /*project_page done!*/




  /*-----media quiery-----*/
  @media (max-width: 840px) and (min-width: 641px)  {


    /* section main*/
    section#main{
    width: 75%;
    background-color:#fff;
    }
    
    article#about {
    padding-top:100px;
    font-size:0.9em;/*
    font-weight:bolder;*/
    letter-spacing:0.04em;
    text-align: left;
   }


     article#expertise {
      float:right;
       width:100%;
  
     }

    #expertise h1{
      font-size: 0.9em;
      letter-spacing:0.01em;
      font-family: 'Garamond Premier Pro', sans-Serif;
      color:black;

     }

     #expertise p{
      font-size: 0.9em;
      font-family: 'Garamond Premier Pro', Serif;
      font-weight: lighter;
      color:black;
     }


   /* work list */
   section#section_work ul#work_list li.each_work{
    padding-left:10%;
    margin-top: 10%;
    width: 45%;
    height:40%;
  /*  background:#ddffcc;*/
    overflow: hidden;
  }
  
  div.work_detail p.worktitle{
    font-size: 1em;

  }
  div.work_detail p.worksubtitle{
    font-size: 0.7em;

  }
}
  
@media (max-width: 640px) and (min-width: 286px) {

section#main{
   width: 160%;
   padding-top: 10px;
   padding-right:100px;
   padding-left:20px;
   }

 article#about{
    letter-spacing:0.06em;
    text-align:left;
    font-size:0.9em;
   }


#about h2{
     font-size: 0.8em;
   }

 


     /*nav*/
   nav#main_nav{
      height: 32px;

    }
 
   nav#main_nav ul#nav_list{
    }

    nav#main_nav ul li.link{
      /*height: 2px;*/
      font-size: 0.6em;
    }


  /* work list */
  section#section_work ul#work_list 
  {

    padding-top:40px;
  }
  li.each_work{
    float:right;
    margin-top: 10px;
    width:100%!important;
    background-color:#fafdfa;
    overflow: hidden! important;
  }

  section#section_work ul#work_list li img{
   display:none;
  }

  div.work_detail{
    height: 10px;
  }
  a.work_link:hover div.work_detail{
    top:1px;
  }

  div.work_detail p.worktitle{
    position: static;
    font-size:3.5vw;
    font-color:black!important;
  }
  ul#work_list li:hover div.work_detail p.worktitle{
    font-size:2.6vw;
     z-index:-9999;
    text-align:center!important;
    font-color:#d0c0a0;
    transition: size 0.8s!important;
  }

  div.work_detail p.worksubtitle{
    font-size: 0.6vw;
    text-align:justify;
    position: static;
    float:right!important;
  }

  ul#work_list li:hover div.work_detail p.worksubtitle{
    z-index:-9999;
    background-color:#fafafa;
  }



  /*PROJECT PAGE*/

  div#project_wrapper{
                  width:100%;/*
                  position:relative;*/
                  -webkit-box-shadow: 2px -21px 38px -1px rgba(0,0,0,0.45);
                  -moz-box-shadow: 2px -21px 38px -1px rgba(0,0,0,0.45);
                  box-shadow: 2px -21px 38px -1px rgba(0,0,0,0.45);
                }


 section#work_content{
                    text-align:left;
                    display: inline-block;
                    display: -webkit-block;
                    display: -ms-flexblock;
                    display: -webkit-block;

                  }
       
   article#work_details {
    text-align:justify;
   }
    
    h2{
      font-size: 3vw;
    }

    h3{
      color:#0026FB;
      font-size: 1.4vw;
      font-family: "Andale Mono", Sans-serif;

    }


  #work_details p1{
      font-size: 1.3vw;
    }

    /*-------- features &links --------*/
    article#project_features{

      display:inline-block;
    }

    .toolinks{  
          width:60%;
          padding:80px 10px;
          margin-left:80px;
          font-family: "Karla", Helvetica, sans-serif;
          padding-right:13%;

  }

  div.toolinks h1{ 
    color: black;
    background-color: #e8e6fd;
    font-size: 1.2vw;
  }

  div.toolinks h4{
   padding:1px;
   color:black;
   display: inherit;
   text-align: left;
   font-size:0.9vw;
  }

  div.toolinks h4:hover{
   font-weight: bolder;
   color:white!important;
   transition: background-color,color 0.5s;
   background-color:#ee403d;     
  }


  div#features{ 
    font-family:"karla", sans-serif;
    text-align:left;    
    text-decoration:none!important;
    background:#fcfcfc;

  }


  div#links{
    margin:2%;
    padding:6px;
    font-family:"Merriweather", Helvetica, sans-serif;
  }

  div#links a:link{
   font-color:black!important;
   font-size:1.3vw;
   font-weight: bolder;
   text-decoration:none!imporatnt;
   border:none;
  }

  div#links  a:hover{ transition:ALL 0.5s;
    color:white;
    background-color:#009933;
  }

  div#links  a:after{
   content:'';
   font-weight: bolder;
   transition:ALL 0.3s;
  }
  div#links a:hover:after{
    margin-left: 10px;
  }


  /*---------section of work imgs & videos------*/
  section#Project_Content{
   padding-bottom:3%;
   display: inline-block;

  }
  article#Content{
    width: 100%;
    padding-top:0%;
    padding-left:2%;

  }
  article#Content img{
    margin-top:15px;
    width: 95%;
    height:95%;

  }

  article#Content
  .video_container{
    max-width: 80%;
    padding-bottom: 70%;
    margin-top: 20px;
    position: relative;

  }
  .video_container iframe{
    position: absolute;
    border:8px solid black;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    box-shadow:3px 5px 10px #cccccc;
  }
  /*PROJECT PAGE DONE*/


/*FOOTER*/

   footer#main_footer  {
   width:100%;
   padding-top:10px;
   z-index:99999;
   background:white;

  }

  footer#main_footer p{
    font-family:"Big Caslon", Sans-Serif;
    text-align:right;
    letter-spacing:0.14em;
    font-size: 0.8em;
    color:black;


  }



}

 
  


  /*---media quiery done-----*/


  /*--------///footer///----------*/



  footer#main_footer  {
   float:right;
   width:100%;
   padding-bottom: 40px;
   padding-top:10px;
   position:relative;
   z-index:99999;
  }



  footer#main_footer p{
    padding-left:14em;
    padding-right:2em;
    font-family:"Big Caslon", Sans-Serif;
    text-align: right; 
    letter-spacing:0.14em;
    font-size: 0.9em;
    color:black;

  }




